body{
  margin: 0;
  padding: 0;
  background-color: #222;
  font-style: Helvetica, Sans-serif;
}
.barra{
  background-color: rgba(0,0,0,0.5);
  height: 50px;
  margin: 0;
}
.txtbarra{
  color: #FFF;
  float: left;
  margin-right: 5px;
}
.enlacesbarra{
  color: #FFF;
  float: right;
  margin-left: 5px;
}
.docint{
  width: 175px;
  height: 250px;
  background-color: grey;
  float: left;
  margin: 10px;
  border-radius: 5px;

}
.contenido{
padding-right: 35%;
}
.seccio{
  color: #FFF;
  font-size: 22px;
}
