div{
  width: 800px;
  margin: 0 auto;
}
img{
  width: 100px;

}
.esquerra{
  float: left;
}
.dreta{
  float: right;
  margin-left: 10px;
}
.inicial p::first-letter{
  color: white;
  display: inline-block;

}
.inicial{
  color: pink;
  text-indent:
}
.c1{
  width: 390px;
  float: left;

}
.c2{
  width: 390px;
  float: right;
}
